**HOW TO PRINT A TEXT**

In [ ]:
## PRINT("<TEKS YANG INGIN DITAMPILKAN>")

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Halo Dunia!")

Halo Dunia!

In [ ]:
print("Suryo Adi Gumelar")

Suryo Adi Gumelar

In [ ]:
print("Saya suka belajar bahasa pemrograman Python")

Saya suka belajar bahasa pemrograman Python

In [ ]:
print("Saya sedang belajar melakukan print")

Saya sedang belajar melakukan print

**HOW TO PRINT A NUMBER**

In [ ]:
## PRINT("<ANGKA YANG INGIN DITAMPILKAN>")

In [ ]:
print(20)

20

In [ ]:
print(100)

100

In [ ]:
print(21.3)

21.3

In [ ]:
print(100.3)

100.3

In [ ]:
print(18)

18

In [ ]:
print(4)

4

In [ ]:
print(20000)

20000

**VARIABLES**



*   Variabel adalah tempat untuk menyimpan suatu nilai/data

*   nama_variabel = nilai
*   Nilai dapat berupa teks/angka

In [ ]:
angka1 = 2300423140384032842304923749237493794932842304239490131292304803285
angka2 = 453567569798346532470935703495734571923749132

jumlah = angka1 + angka2
print(jumlah)

2300423140384032842305377316807292141465313239942985865864228552417

In [ ]:
text = "Saya sedang belajar membuat variabel"
print(text)

Saya sedang belajar membuat variabel

In [ ]:
Panjang = 5
Lebar = 8
Luas_PersegiPanjang = Panjang * Lebar
print(Luas_PersegiPanjang)

40

In [ ]:
phi = 3.14
r = 7
Luas_Lingkaran = phi * r * r
print(Luas_Lingkaran)

153.86

**MORE PRINTING!**

In [ ]:
## Printing variables

In [ ]:
nama = "Nama saya Cristiano Ronaldo"
print(nama)

Nama saya Cristiano Ronaldo

In [ ]:
## Printing with Formatting

In [ ]:
## Percent formatting

text2 = "Lionel Messi"
print("Hello, my name is %s" % text2)

Hello, my name is Lionel Messi

In [ ]:
jumlah_apel = 3
print("Jumlah buah apel ada %d" % jumlah_apel)

Jumlah buah apel ada 3

In [ ]:
Nama_saya = "Suryo"
Umur = 26
print("Halo, nama saya %s. Umur saya %d tahun." % (Nama_saya, Umur))

Halo, nama saya Suryo. Umur saya 26 tahun.

In [ ]:
Name = "Antony"
Goals = 100
Assists = 120
print("%s has scored %d goals and %d assists so far" % (Name, Goals, Assists))

Antony has scored 100 goals and 120 assists so far

In [ ]:
## F-String formatting

In [ ]:
## print(f"ini adalah contohnya {NAMA_VAR}")

In [ ]:
Namaku = "Budi"
Umurku = 25

#Percent Formatting
print("Halo namaku %s. Umurku %d tahun." % (Namaku, Umurku))

#F-String Formatting
print(f"Halo namaku {Namaku}. Umurku {Umurku} tahun.")

Halo namaku Budi. Umurku 25 tahun.
Halo namaku Budi. Umurku 25 tahun.

In [ ]:
ayam = 15000
beras = 50000
bumbu = 10000
total = 75000
print(f"Ibu berbelanja ayam dengan harga {ayam}, beras dengan harga {beras}, dan bumbu dengan harga {bumbu}. Total harga belanja ibu adalah {total}.")

Ibu berbelanja ayam dengan harga 15000, beras dengan harga 50000, dan bumbu dengan harga 10000. Total harga belanja ibu adalah 75000.

**COMMENTING**



*   Commenting merupakan sebuah komentar yang digunakan untuk memperjelas maksud dari sebuah proses ataupun sebuah perintah.
*   Apabila dijalankan commenting tidak akan melakukan eksekusi apapun.
*   Commenting diperlukan untuk mempermudah kita mengerti suatu program.
*   Commenting juga akan mempermudah orang lain yang hendak membaca program kita kelak.

Contoh

In [ ]:
print ('Hello World!') # Komentar ini juga diawali dengan tanda pagar (#)
print ('Hello World!') # Digunakan di dalam satu baris yang sama dengan perintahnya

# Baris ini untuk mencari profit dari produk, dengan cara revenue dikurangi modal
profit = revenue - modal

# Selanjutnya tampilkan nilai profit yang didapat
print(profit)

To comment multiple lines: (Ctrl + A) then (Ctrl + /)
or
using triple quotes (''')

In [ ]:
# import pandas as pd
# from sklearn import model_selection

# df = pd.read_csv("train.csv")
# df["kfold"] = -1
# df = df.sample(frac=1).reset_index(drop=True)
# kf = model_selection.KFold(n_splits=5)


# for fold, (trn_, val_) in enumerate(kf.split(X=df)):
#     df.loc[val_, 'kfold'] = fold

# df.to_csv("train_folds.csv", index=False)

**ERROR IN PYTHON**

**Error and How to solve**

Pada sesi ini, kita akan belajar mengenai error dan bagaimana cara mengatasinya.
Error merupakan hal yang wajar ditemui saat sedang membuat sebuah pemrograman.
Melalui error jugalah kita semakin banyak belajar dan semakin memahami code yang telah kita buat.
Ketika mendapati suatu error, ada beberapa langkah yang dapat kita lakukan untuk dapat mengatasinya, yaitu:

Perhatikan error outputnya
Cobalah untuk googling mengenai error tersebut
Kemudian cobalah code yang telah digoogling sebelumnya
Apabila masih belum solve, cobalah untuk googling kembali
Ada beberapa jenis error yang sering dialami, yakni:

*   Syntax Error
*   Indentation Error
*   Name Error